icons_format = "{icon}"

[theme]
theme = "solarized-dark"
[theme.overrides]
idle_bg = "#123456"
idle_fg = "#abcdef"

[icons]
icons = "awesome4"
[icons.overrides]

###########
# Blocks
###########

# CPU Usage
[[block]]
block = "cpu"
info_cpu = 20
warning_cpu = 50
critical_cpu = 90
format = "  $utilization.eng(w:2) "

# Memory Usage
[[block]]
block = "memory"
format = "  $mem_used.eng(prefix:Mi)/$mem_total.eng(prefix:Mi) "

# Wi-Fi / Network
[[block]]
block = "net"
device = "wlan0"
format = " $icon { $ssid($signal_strength) | Wired } "
missing_format = " $icon × Disconnected "
inactive_format = " $icon Down "

# Keyboard Layout (X11)
#[[block]]
#block = "custom"
#interval = 0.5
#command = '''
#layout=$(xkb-switch)
#if [ "$layout" = "us" ]; then
  #echo "  E"
#elif [ "$layout" = "ara(qwerty_digits)" ]; then
  #echo "  ع"
#else
  #echo "  ?"
#fi
#'''
[[block]]
block = "keyboard_layout"
driver = "xkbevent"
format = "   $layout "

[[block]]
block = "backlight"
format = "  $brightness "

# Volume (Audio)
[[block]]
block = "sound"
format = " $icon  $volume.eng(w:2) "
error_format = " 󰝟 mute "
[[block.click]]
button = "left"
cmd = "pavucontrol"

# Battery
[[block]]
block = "battery"
interval = 10
format = " $icon $percentage.eng(w:2) ($time) "
charging_format = " $icon $percentage.eng(w:2) ($time) "
full_format = " $icon 100% "
missing_format = "  × "

# Date & Time
[[block]]
block = "time"
interval = 5
format = "  $timestamp.datetime(f:'%Y/%m/%d %A  %l:%M') "

# bilal
[[block]]
block = "custom"
interval = 300
command = '''
echo "  $(bilal next | awk '{print $1}') $(bilal current | grep -oE '[0-9]+:[0-9]+')"
'''

# prayer-times (DEPRECATED)
#[[block]]
#block = "custom"
#interval = 5
#command = '''
#prayer-times --latitude 31.200092 --longitude 29.918739 --method Egyptian next | awk '{print "   " $2 " " $4 "  "}'
#'''
